.header {

    height: 160px;

    background-color: #1e824c;

    padding-top: 50px;

}

#mobile-button {
	display: none;
}
#menu-mobile-mask {
	display: none;
}
#menu-mobile {
	display: none;
}
#btn-news-next {
	display: none;
}
#btn-news-prev {
	display: none;
}
#slider-aviso {
	color: #000;
	margin: 5px;
}


#menu {

    background-color: #00b16a;

    height: 50px;

}

#menu a {

    text-decoration: none;

    color: #FFF;

}

#menu a:hover {

    color: #cecece;

}



#menu ul {

    list-style: none;

}

#menu ul li {

    display: inline-block;

    margin-right: 50px;

    margin-top: 10px;

}

#menu i {
	display: none;
}



.header h1 {

    font-family: 'Roboto', sans-serif;

    color: #FFF;

    text-shadow: 2px 2px 2px rgba(1, 1, 1 , 1);

}

.candidatos {
	text-align: center;
	margin-left: 15px;
	margin-top: 20px;
}



.candidato img {

    border-radius: 300px;

    width: auto;

    height: 200px;

}

.candidato img:hover {

    color: #FFF;

    background-color:#FFF;

    /* height: 250px; */

    transition-duration: 1s;

    border: 2px;

    border-color:#000;

    box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.22);

}



.candidato .nome {

    margin-top: 25px;

    text-align: center;

}

.candidato .partido {

    text-align: center;

    margin-top: -20px;

}

.candidato .votos {

    text-align: center;

}

.descricao {
    margin-top: 65px;
}

.texto {
    text-align: justify;
}

.termos hr {
    width: 50%;
    border-top: dashed 2px;
    color: #cacaca;
    margin-top: 50px;
    margin-bottom: 50px;
}
