{if="hasMessage()==true"}
<div class="alert alert-danger" role="alert">
    {$message}
</div>
{/if}
    
    <session>
        <div class="col-md-12 text-center header">
                <h1>Quem será seu candidato em 2022?</h1>
        </div>
    </session>
<!--	<button type="button" id="btn-news-prev"><i class="fa fa-angle-left"></i></button>
    <button type="button" id="btn-news-next"><i class="fa fa-angle-right"></i></button>-->
		
	<div class="candidatos">

			<div class="row thumbnails owl-carousel owl-theme">
				{loop="$candidato"}
				<div class="item">

					<div class="item-inner">

						<div class="candidato">
						<div class="foto">
							<a href="votar-{$value.randcode}"><img src="{$value.foto}"> </a>
						</div>
						<div class="nome">
							<p><b>Nome:</b> {$value.nome}</p>   
						</div>
						<div class="partido">
							<p><b>Partido:</b> {$value.partido}</p>
						</div>
						<div class="votos">
							<p>{$value.votos} <b>voto(s)</b></p>
						</div>

						</div>

					</div>
				</div>
				{/loop}
			</div>
		</div>
		<div class="container text-center">
			<div class="row" id="slider-aviso">
				<p>Deslize para os lados e veja mais candidatos.</p>
			</div>
		</div>
		