<div class="container">
    <div class="row">
        <h1>Políticas de Privacidade</h1>
    </div>
    <div class="row">
        <h2>Ao acessar este site você está de acordo com estes termos. </h2>
    </div>
    <hr>
    <div class="row">
        <h3>Considerações iniciais:</h3>
        <ul>
            <li>Este site não tem nenhuma ligação com a Justiça Eleitoral, com o Tribunal Superior Eleitoral ou qualquer orgão regulamentador das eleições brasileiras</li>
            <li>Os votos exibidos neste site não irão de maneira nenhuma interferir no processo eleitoral de 2022</li>
            <li>Este site não tem nenhuma ligação com orgãos de pesquisas, como por exemplo o IBOPE ou DataFolha</li>
        </ul>
        <h3>Privacidade de seus dados:</h3>
        <p>Para garantir a idoneidade dos resultados, solicitamos ao visitante que cadastre-se neste site, informando <b>Nome, Sobrenome, CPF, Data de Nascimento, Login e Senha</b>, como também responder ao sistema reCaptcha.</p>
        <p>Os dados informados passam por um avançado processo de criptografia e são salvos em um banco de dados devidamente criptografados, de forma que não possam ser visualizados por ninguém, nem mesmo os desenvolvedores deste site.</p>
        <p>De forma nenhuma os dados inseridos neste serão publicados, vendidos, utilizados para entrar em contato ou de qualquer outra forma, que não seja para logar-se e votar.</p>
        <br/>
        <h3>Processo de votação:</h3>
        <p>O processo de votação foi desenvolvido de forma que cada usuário possa votar somente uma vez, de forma definitiva.</p>
        <p>Após o usuário criar a conta e logar-se, será liberado a votação, onde o usuário deverá escolher, na página inicial, um candidato dos que estão disponíveis na lista, responder ao sistema reCaptcha e confirmar o voto.</p>
        <p>Por segurança, após confirmado o voto, o usuário será deslogado do site. O usuário poderá logar-se novamente, mas não poderá votar outra vez.</p>
        <p>O voto também é salvo no banco de dados de forma criptografada utilizando o mesmo sistema avançado de criptografia utilizado para criar a conta.</p>
    </div>
</div>
